/***********************************CSS pour le CV*****************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
  }
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  #blocPrincipal {
    width: 100%;
    max-width: 2000px;   
    text-align: center; 
  }
  .ecran {
    height: 92vh;
    width: 100%;
    display: flex;
  }
  section {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  /*****************************header et entete*************************************/
header{
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
}
div.Entete{
  background-color:#8b0000;
  margin: 10px;
  border: 5px solid;
}
.DevFrontEnd {
  display: flex;
  color: black;
}
.sliding-middle-out {
  display: inline-block;
  position: relative;
  transition-duration: 5s;
}
.Nom {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.white {
  margin: 0;
  font-size: 45px;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000, 0 2px 0 #cccccc, 0 3px 0 #000000,
      0 4px 0 #cccccc, 0 5px 0 #000000, 0 6px 0 #cccccc, 0 7px 0 #000000,
      0 8px 0 #000000, 0 9px 0 #000000, 0 50px 30px rgba(0, 0, 0, 0.3);
}
/************************************MENU********************************************/
div.Navigation{
  height: 100px;
  background-color: #8b0404;
  margin: 1% 5%;
  border:5px solid;
  padding: 0;
  border-radius: 15%;
}
nav{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
label.logo{
color: white;
font-size: 2rem;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
width: 24%;
text-align: left;
position: absolute;
visibility: hidden;
display: none;
}
nav ul {
text-align: center;
}
nav ul li {
list-style-type: none;
}
.checkbtn{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
@media (max-width:952px){
label.logo{
    font-size: 30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 16px;
}
}
@media (max-width:858px){
.checkbtn{
    display: block;
}
nav{
    padding: 0 20px;
}
label.logo{
    width: 90%;
    text-align: center;
    position: static;
    visibility: visible;
    display: block;
}
nav ul{
    
    position:fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top:200px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    width: 100%;
    margin: 0;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
nav ul li{
    display: block;
    margin: 0 ;
    font-size: 2rem;
}
nav ul li a{
    font-size: 20px;
}
a:hover,a.active{
    background: none;
    color: #05be4c;
}
#check:checked ~ ul{
    left:0;
}
.DevFrontEnd {
  display: none !important;
  color: black;
}
}
#check{
display:none;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0 30px;
  position: relative;
  
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: center;
  width: 100%;
  
}
/************************************  hover  ****************************************/
.hover-bg{
  color: rgb(255, 255, 255);
  transition: 1s all;
}
.hover-bg:before,.hover-bg:after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  transition: 1s all;
  z-index: -1;
  border:1px solid #fff;
}
.hover-bg:before{   
  left:0;   
  top:0; 
} 
.hover-bg:after{   
  right:0;   
  bottom:0; 
} 
.hover-bg:hover{   
  color:#FF3030; 
} 
.hover-bg:hover:before,.hover-bg:hover:after{   
  background:rgba(255, 255, 255, 0.6);  
   width:100%;   
   height:100%;
  }  
  .hover-bg:hover{   
    opacity: 0.99; 
  }
/********************************** fin hover *****************************************/
  /***************************************** ecran 1 **********************************/
  .ecran1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  40px ;
    justify-content: space-between;
    background-image: url("../images/Les-NFT-.jpg");
    background-size: contain;
  }
  /************Partie avec le NFT **************/
.photo {
  border: 5px solid #691717cc;
  background-image: url("images/FB_IMG_1643425071732.jpg");
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 25%;
  background-repeat: no-repeat;
  }
  .NFT{
    display: block;
    height: 500px;
  }
  /*************QUI SUIS jE ?*********************/
div.QuiSuis-je {
  background-color: #940000bc;
  border-radius: 15%;
  border:5px solid;
  width: 700px;
  height: 450px;
  margin-right: 400px;
  }

  /******************Obejtifs*********************/
  div.Objectif {
    background-color: #940000bc;
    border: 5px solid;
    margin-top: 40px;
    border-radius: 25%;
    width: 110%;
    height: 30%;
  }
  .contain-haut {
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
  }
 
  /****************************** fin ecran1 **************************************/
  /******************************************* ecran 2**********************************/
  .ecran2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;  
    background-image: url("../images/analytics-3088958_640.jpg");
    background-size: cover;
  }
.formation{
  background-color: #120556e0;
  width: 90%;
  height: 15%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2% 5%;
  border: 5px solid;
}
.form2 {
  background-color: #00159ee0;
  width: 100%;
  height: 55%;
  border: 5px solid;
  border-radius: 10%;
  
}
.marron {
  margin: 0;
  font-size: 45px;
  color: #8adcdf;
  text-shadow: 0 1px 0 #000000, 0 2px 0 #9c2222, 0 3px 0 #000000,
      0 4px 0 #8a2828, 0 5px 0 #000000, 0 6px 0 #9c2121, 0 7px 0 #000000,
      0 8px 0 #861717, 0 9px 0 #000000, 0 50px 30px rgba(0, 0, 0, 0.3);
}
/********************** fin ecran2 *********************************/
  /*********************************** ecran 3***************************************/
  .ecran3 {
    width: 100%;
    height: 100vh;
    background-image: url("/images/Bitcoin.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .Experiences{
    background-color: #b1adadc6;
    width: 90%;
    height: 200px;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2% 5% ;
  }

  .Exper2{
    background-color: #b1adadc6;
    width: 75%;
    height: 650px;
    margin: 200px ;
    border: 5px solid;
    border-radius: 10%;
  }
  .bleu {
    margin: 0;
    font-size: 45px;
    color: #22237a;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #9c2222, 0 3px 0 #ffffff,
        0 4px 0 #8a2828, 0 5px 0 #ffffff, 0 6px 0 #9c2121, 0 7px 0 #fdfdfd,
        0 8px 0 #861717, 0 9px 0 #ffffff, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
  /********************* fin ecran3 ************************************/
  /************************************** ecran 4*************************************/
  .ecran4 {
    width: 100%;
    height: 100vh;
    background-image: url("/images/arriereplan.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .Hobbies{
    background-color: #660683e3;
    width: 90%;
    height: 150px;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2% 5% ;
  }
  .cadrehobbies{
    background-color: #9d05c3d1;
    width: 70%;
    height: 60%;
    border: 5px solid;
    margin: 15%;
    border-radius: 10%;
  }
  .rose {
    margin: 0;
    font-size: 45px;
    color: #ff00dd;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #9c2222, 0 3px 0 #ffffff,
        0 4px 0 #8a2828, 0 5px 0 #ffffff, 0 6px 0 #9c2121, 0 7px 0 #f5f5f5,
        0 8px 0 #861717, 0 9px 0 #ffffff, 0 50px 30px rgba(248, 248, 248, 0.3);
  }
  /****************************** fin ecran4 **************************/
  /************************************** ecran 5********************************/
  .ecran5 {
    width: 100%;
    height: 100vh;
    background-image: url("/images/936378.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .contater{
    background-color: #0505bacf;
    width: 90%;
    height: 10%;
    border: 5px solid;
    margin: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .violet {
    margin: 0;
    font-size: 45px;
    color: #af02ff;
    text-shadow: 0 1px 0 #000000, 0 2px 0 #ffffff, 0 3px 0 #000000,
        0 4px 0 #ffffff, 0 5px 0 #000000, 0 6px 0 #ffffff, 0 7px 0 #000000,
        0 8px 0 #ffffff, 0 9px 0 #000000, 0 50px 30px rgba(248, 248, 248, 0.3);
      }    
  .contact{
    background-color: #3a0493d7;
    width: 60%;
    height: 500px;
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2% 20%;
    border-radius: 50%;
  }
  .contain-tout{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
    .form-container{
    width: 50%;
    height: 100%;
    }
    #contact-form{
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    }

/********************** fin ecran5 ****************************/
/****************** finition *********************/
.ecran3 h6{
  color: white;
}
.ecran2 h2{
  color: white;
}
.ecran2 p{
  color: white;
}
.ecran1 p{
  color: white;
}